.App {
  text-align: center;
  font-family: monospace;
  /* height: 100%; */
}

.string-checkboxes {
  display: flex;
  justify-content: center;
}

.accidental-checkboxes {
  display: flex;
  justify-content: center;
}

.Stave {
  margin: -2em;
}

.NewNoteButton {
  margin: 1em;
}

.NewNoteButton.active {
  background-color: lime;
}

.ResetButton {
  margin: 1em;
  color: white;
  background-color: deeppink;
}

.RoundOverModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total-score {
  font-size: 250%;
}

.Leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Leaderboard td {
  text-align: left;
  padding-top: 0.5em;
  padding-right: 1em;
}

.ShowLeaderboard {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 1em;
}

.ShowLeaderboard:hover,
.ShowLeaderboard:focus {
  text-decoration: none;
}

.SettingsModal {
  border: 1px solid #ccc;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.SettingsModal button {
  margin: 2em;
  background-color: lime;
}

.RoundOverModal button {
  margin: 0.5em;
}

.Navbar {
  background: #eee;
}

.Navbar ul {
  display: flex;
  width: 33%;
  margin: auto;
}

.Navbar li {
  padding: 0;
  list-style: none;
  margin: auto;
}