.App {
  text-align: center;
  font-family: monospace;
}

.string-checkboxes {
  display: flex;
  justify-content: center;
}

.accidental-checkboxes {
  display: flex;
  justify-content: center;
}

.Stave {
  margin: -2em;
}

.NewNoteButton {
  /* color: white; */
  background-color: lime;
}

.ResetButton {
  margin: 1em;
  color: white;
  background-color: deeppink;
}